# PlatformIO
.pio/
.pioenvs/
.piolibdeps/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/
.mypy_cache/
.ruff_cache/
.pytest_cache/

# IDE
.vscode/
.idea/

# Build artifacts (firmware)
*.elf
*.bin
*.hex

# PyInstaller build artifacts
build/
dist/
*.spec.bak

# Inno Setup output
Output/

# PyInstaller work files
*.pyz
*.pkg
